.first{
    color: brown;
    font-size: 25px;
}
.second{
    color: black;
    font-size: 30px;
    text-align: center;
}
.third{
    color: blue;
    font-size: 40px;
    line-height: 1.5;
    font-weight: 600;
    background-color: aquamarine;
    border: 1px solid black;
}
.titel{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-size: 80px;
    color: aqua;
    background-color: brown;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: 120px;
    margin-right: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}